extends /layouts/default

block title
	title Mimosa &rsaquo; #{page}

block nav
	include /blocks/nav

block content
	div.uk-margin-top
		div.uk-container.uk-container-center
			article.uk-article
				h1.uk-article-header Mimosa-Emberkit
				p.uk-article-lead
					| This skeleton is built to allow newcomers or experts to quickly generate a simple app for EmberJS with a good UI.
				p
					| Check the contents below to see what it's built on!
				hr.uk-article-divider
			div.uk-grid.uk-margin-top
				div.uk-width-1-3
					article.uk-article
						h2.uk-article-header
							i.uk-icon-cog
							|	Ember
						p.uk-article-meta
							a(href="http://www.emberjs.com", target="_blank") Ember
							|  is made by 
							a(href="http://www.tilde.io", target="_blank") Tilde Inc
							| . 
							a.uk-icon-button.uk-icon-twitter(href="https://twitter.com/emberjs", target="_blank")
							a.uk-icon-button.uk-icon-github(href="https://github.com/emberjs/ember.js/", target="_blank")
						p
							| Using the latest technology for best development, this module is using 
							| EmberJS under the hood to be flexible enough for your needs.
				div.uk-width-1-3
					article.uk-article
						h2.uk-article-header
							i.uk-icon-magnet
							|	UIKit
						p.uk-article-meta
							a(href="http://www.getuikit.com", target="_blank") UIKit
							|  is made by 
							a(href="http://www.yootheme.com/", target="_blank") YOOtheme
							| . 
							a.uk-icon-button.uk-icon-twitter(href="https://twitter.com/getuikit", target="_blank")
							a.uk-icon-button.uk-icon-github(href="https://github.com/uikit/uikit", target="_blank")
						p
							| A new starter css-framework for your application, it's neat and responsible-first. 
							| Has great addons and includes some of the missing Bootstrap-features.
				div.uk-width-1-3
					article.uk-article
						h2.uk-article-header
							i.uk-icon-flag
							|	Font-Awesome
						p.uk-article-meta
							a(href="http://fortawesome.github.io/Font-Awesome/", target="_blank") Font-Awesome
							|  is made by 
							a(href="http://twitter.com/davegandy", target="_blank") Dave Gandy
							| . 
							a.uk-icon-button.uk-icon-twitter(href="https://twitter.com/fontawesome", target="_blank")
							a.uk-icon-button.uk-icon-github(href="https://github.com/FortAwesome/Font-Awesome", target="_blank")
						p
							| Scaled icons everywhere with Font Awesome.
							| No more icon sprites or styling issues!
			div.uk-grid
				div.uk-width-1-3
					article.uk-article
						h2.uk-article-header
							i.uk-icon-leaf
							|	Mimosa
						p.uk-article-meta
							a(href="http://mimosa.io", target="_blank") Mimosa
							|  is made by 
							a(href="https://twitter.com/dkbashford", target="_blank") David Bashford
							| . 
							a.uk-icon-button.uk-icon-twitter(href="https://twitter.com/mimosajs", target="_blank")
							a.uk-icon-button.uk-icon-github(href="https://github.com/dbashford/mimosa", target="_blank")
						p
							| A modern browser development toolkit loaded with what you need to start coding right away. 
							| Transpilers, pre-processors, micro-templates, requirejs, bower, testing and more.
				div.uk-width-1-3
					article.uk-article
						h2.uk-article-header
							i.uk-icon-exchange
							|	Express
						p.uk-article-meta
							a(href="http://expressjs.com/", target="_blank") Express
							|  is made by 
							a(href="https://twitter.com/dkbashford", target="_blank") visionmedia
							| . 
							a.uk-icon-button.uk-icon-twitter(href="http://twitter.com/tjholowaychuk", target="_blank")
							a.uk-icon-button.uk-icon-github(href="https://github.com/visionmedia/express", target="_blank")
						p
							| Express is a minimal and flexible node.js web application framework, 
							| providing a robust set of features for building single and multi-page, and hybrid web applications.

block foot
	include /blocks/foot
