div.tm-navbar.uk-navbar.uk-navbar-attached
    div.uk-container.uk-container-center
        div.uk-navbar-brand.uk-hidden-small My Project
        a.uk-navbar-toggle.uk-visible-small(data-uk-offcanvas="",href="#tm-offcanvas")
        div.uk-navbar-brand.uk-navbar-center.uk-visible-small My Project

        ul.uk-navbar-nav.uk-hidden-small
            li(class="#{page=='index' ? 'uk-active' : ''}")
                a(href="/") Home
            li(class="#{page=='contact' ? 'uk-active' : ''}")
                a(href="/contact") Contact
            li(class="#{page=='about' ? 'uk-active' : ''}")
                a(href="/about") About
            li(class="#{page=='todos' ? 'uk-active' : ''}")
                a(href="/todos") Todos